<h2>Comments</h2>
<div *ngIf="comments.length == 0 && isLoggedIn()">Komentarų nėra</div>
<div *ngIf="(comments.length > 0 && (isDesigner() || isContestPublisher(contest.publisher._id)) || isAdmin())" >
  <div *ngFor="let comment of comments">
    <em>{{comment.comment}}</em>
    <br>
    <small>- {{comment.commentAuthor.nickName}}</small>
    <br>
    <br>
  </div>
</div>
<div *ngIf="isDesigner() || isContestPublisher(contest.publisher._id) || isAdmin()">   <!-- TODO to add ngIf checks -->
  <h2>Post a comment</h2>
  <form>
    <textarea name="comment" cols="50" rows="5" [(ngModel)]="commentField"></textarea>
    <br>
    <button type="button" class="btn btn-primary" (click)="addComment(commentField)">Pridėti komentarą</button>
  </form>
</div>
<div *ngIf="(isClient() && !isContestPublisher(contest.publisher._id)) || !isLoggedIn()">
  <strong>Comments are only visible to designers and publisher</strong>
</div>

<simple-notifications [options]="options"></simple-notifications>

<test-loader *ngIf="isLoading"></test-loader>