.no-contests-label {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-style: italic;
}

span.finished {
  background-color: #b3130c;
  color: white;
}

pagination-controls /deep/ {
  display: block;
}

pagination-controls /deep/ .ng2-pagination {
  margin: 10px auto;
  text-align: center;
}

pagination-controls /deep/ .ng2-pagination li {
  font-size: 18px !important;
  cursor: pointer;
  border-radius: 5px !important;
}

pagination-controls /deep/ .ng2-pagination li a:hover {
  background-color: #a8d6f3 !important;
  border-radius: 5px !important;
}

a {
  cursor: pointer;
}