<h1>Contest details</h1>
<br>

<div *ngIf="!contest">Kraunama...</div>
<div *ngIf="contest">  
<h2>ID: {{contestId}}</h2>
<h3>contest name: {{contest.name}}</h3>
<h3>contest category: {{contest.category}}</h3>
<h3>contest description: {{contest.description}}</h3>
<h3>contest award: {{contest.award}}</h3>
<h3>contest status: {{contest.status}}</h3>
<h3>contest start date: {{contest.startDate | date}}</h3>
<h3>contest end date: {{contest.endDate | date}}</h3>
<h3>contest submition count: {{contest.submitions}}</h3>
<h3>contest published by: {{contest.userName}}</h3>
</div>
