.btn-info, .btn-danger {
  float: left;
}

a {
  cursor: pointer;
}

.img-container {

}
img {
  display: block;
  max-height: 500px;
  width: auto;
  margin: 0 auto;
}

.comments-section {
  text-align: center;
}

.btn-back {
  display: block;
  margin: 20px auto;
  padding: 7px;
  border-radius: 5px;
  border: 1px transparent;
  transition: all 0.2s ease-in 0s;
}

.btn-back:hover {
  background-color: #2b3542;
  color: #fff;
}

.star-rating {
  display: inline-block;
}

.label-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.no-margin {
  margin-bottom: 5px;
}

.btn-block {
  display: block;
  margin: 20px auto;
}

.btn-confirm {
  display: inline-block;
  margin: 0 auto;
  padding: 7px;
  border-radius: 5px;
  border: 1px transparent;
  transition: all 0.25s ease-in 0s;
}

.btn-confirm:hover {
  background-color: greenyellow;
}

.btn-cancel:hover {
  background-color: lightcoral;
}

.btn-cancel {
  display: inline-block;
  margin-left: 20px;
  padding: 7px;
  border-radius: 5px;
  border: 1px transparent;
  transition: all 0.25s ease-in 0s;
}

/*i:first {
  display: block;
  margin: 0 auto;
}*/