<button type="button" (click)="detailsModal.open()">Look at</button>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #detailsModal>
            <modal-header [show-close]="true">
                <h4 class="modal-title text-center">Dizaino info</h4>
            </modal-header>
            <modal-body>
                <h3>Submition ID: {{submition.submitionId}}</h3>
                <img src="http://localhost:3000/uploads/contests/{{contestId}}/{{submition.submitionUrl}}" alt="Dizainas">
                <h3>Author: {{submition.submitionAuthor.firstName}}</h3>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="detailsModal.dismiss()">Uždaryti</button>
            </modal-footer>
</modal>