<h1>Logotipo ar verslo kortelės dizainas</h1>

<div class="row spacing">
<section class="col-md-8 col-md-offset-2">
    <!--<form (ngSubmit)="onSubmit(f)" #f>
        <div class="form-group">
            <label>Konkurso pavadinimas</label>
            <input ngControl="name" name="name" id="name" type="text" class="form-control" #name [ngModel]="contest?.name">
        </div>
        <div class="form-group">
            <label>Konkurso kategorija (select list)</label>
            <input ngControl="category" name="category" id="category" type="text" class="form-control" #category [ngModel]="contest?.category">
        </div>
        <div class="form-group">
            <label>Konkurso Aprašymas</label>
            <input ngControl="description" name="description" id="description" type="text" class="form-control" #description [ngModel]="contest?.description">
        </div>
        <div class="form-group">
            <label>Konkurso Prizas</label>
            <input ngControl="award" name="award" id="award" type="text" class="form-control" #award [ngModel]="contest?.award">
        </div>
        <button type="submit" class="btn btn-primary">{{ !contest ? 'Pridėti konkursą' : 'Saugoti pakeitimus' }}</button>
        <button type="button" class="btn btn-danger" (click)="onCancel()" *ngIf="contest">Atšaukti</button>
    </form>-->
    <form [formGroup]="contestForm" novalidate (ngSubmit)="addContest(f)" #f> 
        <div class="form-group">
            <label for="firstName">Konkurso pavadinimas</label>
            <input autofocus type="text" class="form-control" formControlName="contestName" name="contestName" id="contestName" autofocus>
        </div>
        <div class="form-group">
            <label for="firstName">Kategorija(select)</label>
            <input type="text" class="form-control" formControlName="contestCategory" name="contestCategory" id="contestCategory">
        </div>
        <div class="form-group">
            <label for="firstName">Aprašymas</label>
            <input type="text" class="form-control" formControlName="contestDescription" name="contestDescription" id="contestDescription">
        </div>
        <div class="form-group">
            <label for="lastName">Prizas</label>
            <input type="text" class="form-control" formControlName="contestAward" name="contestAward" id="contestAward">
        </div>
        <button type="submit" class="btn btn-primary">{{ !contest ? 'Pridėti konkursą' : 'Saugoti pakeitimus' }}</button>
        <button type="button" class="btn btn-danger" (click)="onCancel()" *ngIf="contest">Atšaukti</button>
        <!--<div class="form-group">
            <label style="display: block">Dizaineris ar užsakovas?</label>
            <div *ngFor="let type of userTypes" class="radios">
            <label>
            <input type="radio" class="form-control" formControlName="userType" name="userType" id="userType" [value]="type.value">
            {{ type.display }}
            </label>
            </div>-->
    </form>
</section>

  <div class="col-md-8 col-md-offset-2 pad-10">
          <div *ngFor="let contest of contests">
    <div class="panel panel-default">

        <div class="panel-body">
            {{ contest.name }}
        </div>
        <div class="panel-footer">   
          <div class="author">         
            {{ contest.category }} - {{ contest.userName }}
          </div>
          <div class="config" *ngIf="belongsToUser(contest.user)">
          <a (click)="editContest(contest)">Edit</a>
          <a (click)="deleteContest(contest)">Delete</a>
        </div>
        </div>    
      </div>
    </div>
  </div>
</div>
