<section class="app-headline">
		<div class="row">
			<div class="column small-12">
				<div class="app-breadcrumbs">
					<a routerLink="/">Pagrindinis puslapis</a>
					<a class="current">Paskelbti konkursą</a>
				</div>
			</div>
		</div>
	</section>


<section class="section">
  <div class="category-group category-group-logo">
    <div class="category-group-header">
      <h3 class="heading-h3">Logotipai, verslo kortelės</h3>
    </div>
    <div class="category-group-categories">
      <div class="category-group-categories-row">
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./verslo-korteles-dizainas" routerLinkActive="active">Verslo kortelė <span class="arrow">></span></a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./logotipo-dizainas" routerLinkActive="active">Logotipas <span class="arrow">></span></a>
          </div>
        </div>
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./logotipo-ir-verslo-korteles-dizainas" routerLinkActive="active">Logotipas ir verslo kortelė <span class="arrow">></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-divider"></div>

<section class="section">
  <div class="category-group category-group-logo">
    <div class="category-group-header">
      <h3 class="heading-h3">Internetiniai puslapiai ir aplikacijos</h3>
    </div>
    <div class="category-group-categories">
      <div class="category-group-categories-row">
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./reklamines-juostos-dizainas" routerLinkActive="active">Reklaminė juosta</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./puslapio-antrastes-dizainas" routerLinkActive="active">Puslapio antraštė (header)</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./tinklarascio-dizainas" routerLinkActive="active">Tinklaraštis (blog)</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./esamo-dizaino-keitimas" routerLinkActive="active">Esamo tinklapio dizaino keitimas</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./youtube-kanalo-dizainas" routerLinkActive="active">YouTube kanalas</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./twitter-paskyros-dizainas" routerLinkActive="active">Twitter paskyra</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./wordpress-temos-dizainas" routerLinkActive="active">Wordpress tema</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./ios-aplikacijos-dizainas" routerLinkActive="active">iOS aplikacija</a>
          </div>
        </div>
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./android-aplikacijos-dizainas" routerLinkActive="active">Android aplikacija</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./mobilios-aplikacijos-dizainas" routerLinkActive="active">Mobili aplikacija</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./ikonu-dizainas" routerLinkActive="active">Ikonos</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./pagrindinio-puslapio-dizainas" routerLinkActive="active">Pradinis puslapis</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./facebook-virselio-dizainas" routerLinkActive="active">FaceBook viršelis</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./flash-reklamos-dizainas" routerLinkActive="active">Flash reklama</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-divider"></div>

<section class="section">
  <div class="category-group category-group-logo">
    <div class="category-group-header">
      <h3 class="heading-h3">Verslas, reklama</h3>
    </div>
    <div class="category-group-categories">
      <div class="category-group-categories-row">
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <li><a class="category-link" routerLink="./reklamos-dizainas" routerLinkActive="active">Reklama</a></li>
          </div>
          <div class="category-group-categories-row-col-item">
            <li><a class="category-link" routerLink="./brosiuros-dizainas" routerLinkActive="active">Brošiūra</a></li>
          </div>
          <div class="category-group-categories-row-col-item">
            <li><a class="category-link" routerLink="./skelbimu-lentos-skelbimo-dizainas" routerLinkActive="active">Skelbimų lentos skelbimas</a></li>
          </div>
          <div class="category-group-categories-row-col-item">
            <li><a class="category-link" routerLink="./reklamines-masinos-dizainas" routerLinkActive="active">Reklaminė mašina</a></li>
          </div>
          <div class="category-group-categories-row-col-item">
            <li><a class="category-link" routerLink="./skrajutes-dizainas" routerLinkActive="active">Skrajutė</a></li>
          </div>
          <div class="category-group-categories-row-col-item">
            <li><a class="category-link" routerLink="./atvirutes-dizainas" routerLinkActive="active">Atvirutė</a></li>
          </div>
        </div>
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <li><a class="category-link" routerLink="./el-pasto-pransesimo-dizainas" routerLinkActive="active">El. pašto pranešimas</a></li>
          </div>
          <div class="category-group-categories-row-col-item">
            <li><a class="category-link" routerLink="./meniu-dizainas" routerLinkActive="active">Maisto meniu</a></li>
          </div>
          <div class="category-group-categories-row-col-item">
            <li><a class="category-link" routerLink="./powerpoint-prezentacijos-dizainas" routerLinkActive="active">PowerPoint prezentacija</a></li>
          </div>
          <div class="category-group-categories-row-col-item">
            <li><a class="category-link" routerLink="./reziume-dizainas" routerLinkActive="active">Reziumė</a></li>
          </div>
          <div class="category-group-categories-row-col-item">
            <li><a class="category-link" routerLink="./microsoft-word-dokumento-dizainas" routerLinkActive="active">Microsoft Word dokumentai</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-divider"></div>

<section class="section">
  <div class="category-group category-group-logo">
    <div class="category-group-header">
      <h3 class="heading-h3">Drabužiai, galanterija</h3>
    </div>
    <div class="category-group-categories">
      <div class="category-group-categories-row">
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./kepures-dizainas" routerLinkActive="active">Kepurės</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./marskineliu-dizainas" routerLinkActive="active">Marškinėliai</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./megztiniu-dizainas" routerLinkActive="active">Megztiniai</a>
          </div>
        </div>
        <!--<div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./galanterijos-dizainas" routerLinkActive="active">Galanterija</a>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</section>

<div class="section-divider"></div>

<section class="section">
  <div class="category-group category-group-logo">
    <div class="category-group-header">
      <h3 class="heading-h3">Menas, iliustracijos</h3>
    </div>
    <div class="category-group-categories">
      <div class="category-group-categories-row">
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./3d-dizainas" routerLinkActive="active">3D dizainas</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./cd-virselio-dizainas" routerLinkActive="active">CD viršelis</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./vaikisku-iliustraciju-dizainas" routerLinkActive="active">Vaikiškos iliustracijos</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./iliustraciju-dizainas" routerLinkActive="active">Iliustracijos</a>
          </div>
        </div>
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./tatuiruotes-dizainas" routerLinkActive="active">Tatuiruotės</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./lipduku-dizainas" routerLinkActive="active">Lipdukai</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-divider"></div>

<section class="section">
  <div class="category-group category-group-logo">
    <div class="category-group-header">
      <h3 class="heading-h3">Pakvietimai</h3>
    </div>
    <div class="category-group-categories">
      <div class="category-group-categories-row">
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./vestuviu-pakvietimo-dizainas" routerLinkActive="active">Vestuvių pakvietimas</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./vaiko-krikstynu-pakvietimo-dizainas" routerLinkActive="active">Vaiko krikštynų pakvietimas</a>
          </div>
          <!--<div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./pakvietimo-korteles-dizainas" routerLinkActive="active">Pakvietimo kortelė</a>
          </div>-->
        </div>
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./jubiliejaus-pakvietimo-dizainas" routerLinkActive="active">Jubiliejaus pakvietimas</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./gimtadienio-pakvietimo-dizainas" routerLinkActive="active">Gimtadienio pakvietimas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-divider"></div>

<section class="section">
  <div class="category-group category-group-logo">
    <div class="category-group-header">
      <h3 class="heading-h3">Etiketės, pakuotės</h3>
    </div>
    <div class="category-group-categories">
      <div class="category-group-categories-row">
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./gerimu-dizainas" routerLinkActive="active">Gerimų pakuotė</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./maisto-produktu-dizainas" routerLinkActive="active">Maisto produktų pakuotė</a>
          </div>
        </div>
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./kosmetikos-priemoniu-dizainas" routerLinkActive="active">Kosmetikos priemonių pakuotė</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-divider"></div>

<section class="section">
  <div class="category-group category-group-logo">
    <div class="category-group-header">
      <h3 class="heading-h3">Knygos, Žurnalai</h3>
    </div>
    <div class="category-group-categories">
      <div class="category-group-categories-row">
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./knygos-virselio-dizainas" routerLinkActive="active">Knygos viršelis</a>
          </div>
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./e-knygos-dizainas" routerLinkActive="active">E-Knygos dizainas</a>
          </div>
        </div>
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./zurnalo-virselio-dizainas" routerLinkActive="active">Žurnalo viršelis</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-divider"></div>

<section class="section">
  <div class="category-group category-group-logo">
    <div class="category-group-header">
      <h3 class="heading-h3">Kitas dizainas</h3>
    </div>
    <div class="category-group-categories">
      <div class="category-group-categories-row">
        <div class="category-group-categories-row-col">
          <div class="category-group-categories-row-col-item">
            <a class="category-link" routerLink="./kitas-dizainas" routerLinkActive="active">Kitas dizainas?</a>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



