<section class="app-headline">
		<div class="row">
			<div class="column small-12">
				<div class="app-breadcrumbs">
					<a routerLink="/">Pagrindinis puslapis</a>
					<a routerLink="/dizaineriai">Dizaineriai</a>
          <a class="current">{{designer?.nickName}}</a>
				</div>
			</div>
		</div>
	</section>

    <div class="section-label">
      <h1>Vartotojo informacija</h1>
    </div>

  <div *ngIf="!designer">
    <div class="label-wrapper">
      <h3>Tokio vartotojo nerasta</h3>
    </div>
  </div>

  <div *ngIf="designer" class="body-wrapper">
    <div *ngIf="designer.userType != 'dizaineris'">
      <div class="label-wrapper">
        <h3>Šis vartotojas nėra dizaineris</h3>
      </div>
    </div>
    <div class="content-wrapper" *ngIf="designer.userType == 'dizaineris'">
    <div class="avatar-block">
      <div class="avatar-container">
        <img class="mini-avatar" *ngIf="designer.avatar" src="http://localhost:3000/uploads/avatars/{{designer.avatar.avatarUrl}}" alt="Avataras">
        <img class="mini-avatar" *ngIf="!designer.avatar" src="http://live.warthunder.com/style/img/no_avatar.jpg" alt="Nėra avataro">
        <div class="avatar-text">
          <div class="avatar-nickname">
            <h2>{{designer?.nickName}}</h2>
          </div>
          <div class="avatar-message">
            <i class="fa fa-envelope" (click)="sendPrivateMessage(designer.nickName)"></i>
            <!--<i class="fa fa-envelope" (click)="goToMail()"></i>-->
          </div>
        </div>
      </div>
    </div>
    <!--<div class="file-upload-wrapper">
      <label for="file-upload" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Pakeisti avatarą
      </label>
      <input type="file" id="file-upload" (change)="fileChangeEvent($event)"/>
      <div *ngIf="filesToUpload.length > 0" class="confirm-avatar-wrapper">
        <button (click)="upload()" class="confirm-avatar-button" type="button">Patvirtinti</button>
      </div>
    </div>   -->
  <hr class="divider">

  <div class="description-wrapper"> <!-- start of description block -->
    <div class="description-block">
      <div class="project-name">
        <h3>Dizaineris</h3>
      </div>
      <div class="project-name-text">
        <p>{{designer?.firstName}} {{designer?.lastName}}</p>
      </div>
    </div>
    <hr>
    <div class="description-block">
      <div class="project-name">
        <h3>Slapyvardis</h3>
      </div>
      <div class="project-name-text">
        <p>{{designer?.nickName}}</p>
      </div>
    </div>
    <hr>
    <div class="description-block">
      <div class="project-name">
        <h3>Laimėjo konkurų</h3>
      </div>
      <div class="project-name-text">
        <p>{{designer?.contestsWon.length}}</p>
      </div>
    </div>
    <hr>
    <div class="description-block">
      <div class="project-name">
        <h3>Įkėlė dizainų</h3>
      </div>
      <div class="project-name-text">
        <p>{{designer?.galleryUrls.length}}</p>
      </div>
    </div> 
    <hr>
    <div class="description-block">
      <div class="project-name">
        <h3>Užsiregistravo</h3>
      </div>
      <div class="project-name-text">
        <p>{{designer?.dateRegistered | date: 'shortDate'}}</p>
      </div>
    </div> 
    </div>
  </div> <!-- end of content-wrapper -->
    <div *ngIf="designer.userType == 'dizaineris'" class="gallery-label-wrapper">
      <div class="gallery-label">
        <h2>Galerija</h2>
      </div>
    </div>

    <div *ngIf="designer && designer.userType == 'dizaineris'" class="gallery-block">
      <div class="no-winners" *ngIf="designer.galleryUrls.length == 0"><div>Dizainų nėra</div></div>
    <div class="thumbnail-row" *ngIf="designer.galleryUrls.length > 0">
      <div class="inline-block thumbnail-container" *ngFor="let image of designer.galleryUrls | paginate: {id: 'one', itemsPerPage: 10, currentPage: p1}">
        <div class="mini-image-container">
      <a class="fancybox" rel="personalgallery" href="http://localhost:3000/uploads/gallery/{{designer._id}}/{{image}}">
        <img class="mini-image" src="http://localhost:3000/uploads/gallery/{{designer._id}}/{{image}}" alt="Submition"> <!-- (click)="winnerModal.open()" -->
      </a>
      </div>
    </div>
    </div>
    <pagination-controls *ngIf="designer.galleryUrls.length > 10" id="one" (pageChange)="p1 = $event" directionLinks="false" #api1></pagination-controls>
    </div>
  </div> <!-- end of description block -->


<!--<h1>Designer details</h1>

<div *ngIf="designer">
  <div *ngIf="designer.avatar"><img src="http://localhost:3000/uploads/avatars/{{designer.avatar.avatarUrl}}" alt="Avataras"></div>
  <div *ngIf="!designer.avatar"><img src="http://live.warthunder.com/style/img/no_avatar.jpg" alt="Avataras"></div>
  <h3>Vardas: {{designer.firstName}}</h3>
  <h3>Pavardė: {{designer.lastName}}</h3>
  <h3>Slapyvardis: {{designer.nickName}}</h3>
  <h3>Dalyvavo konkursų: {{designer?.contests?.length}}</h3>
  <h3>Laimėta konkursų: {{designer?.contestsWon?.length}}</h3>
  <h3>Sukurta dizainų: {{designer?.galleryUrls?.length}}</h3>
  <h3 *ngIf="designer.extraInfo">Apie: TBD - designer.extraInfo</h3>
  <h3 *ngIf="!designer.extraInfo">Apie: Informacija nepateikta</h3>

  <div *ngFor="let image of designer.galleryUrls">
    <img src="http://localhost:3000/uploads/gallery/{{designer._id}}/{{image}}" alt="image">
  </div>
  <h3></h3>
  <h3></h3>
</div>-->