<!doctype html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Logotipai</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

    <script src="js/vendor/core-js/client/shim.min.js"></script>
    <script src="js/vendor/zone.js/dist/zone.js"></script>
    <script src="js/vendor/reflect-metadata/Reflect.js"></script>
    <script src="js/vendor/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
  </head>
  <body>
  <my-app>Loading...</my-app>

  <script>
    System.import('app');  
  </script>    
  </body>
</html>