<h1>Profile page</h1>

<!--<img src="http://localhost:3000/uploads/avatar/avatar.jpg" alt="Image"> -->
<img *ngIf="avatarUrl" src="http://localhost:3000/uploads/avatars/{{avatarUrl}}" alt="Avatar">
<img *ngIf="!avatarUrl" src="http://live.warthunder.com/style/img/no_avatar.jpg" alt="Nėra avataro">
<div>
<input type="file" (change)="fileChangeEvent($event)" placeholder="Pasirinkite..." multiple />
</div>
<div>
<button type="button" [disabled]="filesToUpload.length == 0" (click)="upload()">Upload</button>
{{percent}}

</div>
  <div class="file-upload-wrapper">
  <label for="file-upload" class="custom-file-upload">
    <i class="fa fa-cloud-upload"></i> Pasirinkti avatarą
  </label>
  <input id="file-upload" type="file"/>
</div>

<a routerLink="/profilis/pastas">Pastas</a>
<a style="cursor: pointer;" *ngIf="!emailConfirmed()" (click)="sendConfirmationEmail()">Išsiųsti el. pašto patvirtinimo laišką</a>

<simple-notifications [options]="options"></simple-notifications>

<test-loader *ngIf="isLoading"></test-loader>