<header class="app-header">
		<div class="row">
			<div class="column small-12">
				<div class="app-header-inner">
					<h1 class="site-logo"><a routerLink="/">Dizaino konkursai</a></h1><!-- .app-logo -->
					<nav class="site-navigation">
						<ul>
							<li><a routerLink="/kaip-tai-veikia" routerLinkActive="active">Kaip tai veikia</a></li>
              <li><a routerLink="/konkursai" routerLinkActive="active">Konkursai</a></li>
              <li><a routerLink="/kategorijos" routerLinkActive="active">Kategorijos</a></li>
							<li><a routerLink="/dizaineriai" routerLinkActive="active">Dizaineriai</a></li>
							<li><a routerLink="/nugaletoju-galerija" routerLinkActive="active">Nugalėtojų galerija</a></li>
						</ul>
					</nav><!-- .site-navigation -->
                    <nav class="user-controls">
					<user-nav></user-nav>
                    </nav> <!-- .user-navigation -->
				</div><!-- .app-header-inner -->
			</div><!-- .column small-12 -->
		</div><!-- .row -->
</header><!-- .app-header -->


<!--
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/">Dizaino konkursai</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a routerLink="/paskelbti-konkursa" routerLinkActive="active">Paskelbti konkursą</a></li> 
            <li><a routerLink="/konkursai" routerLinkActive="active">Konkursai</a></li> 
            <li><a routerLink="/kategorijos" routerLinkActive="active">Kategorijos</a></li>  
            <li><a routerLink="/dizaineriai" routerLinkActive="active">Dizaineriai</a></li>            
            <li><a routerLink="/nugaletoju-galerija" routerLinkActive="active">Nugalėtojų galerija</a></li>
            <li><a routerLink="/kaip-tai-veikia" routerLinkActive="active">Kaip tai veikia?</a></li>  
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!isLoggedIn()"><a href="#" (click)="loginModal.open()">Prisijungti</a></li> 
            <li *ngIf="!isLoggedIn()"><a href="#" (click)="registerModal.open()">Registracija</a></li>
            <li *ngIf="isLoggedIn()"><a href="#" (click)="logout()">Atsijungti</a></li> 
          </ul>
        </div>
      </div>
    </nav>
-->
