						<ul>
							<li *ngIf="!isLoggedIn()" class="login"><a href="#" (click)="loginModal.open()">Login</a></li>
							<li *ngIf="!isLoggedIn()" class="register"><a href="#" (click)="registerModal.open()">Register</a></li>
                         
							<li class="user" *ngIf="isLoggedIn()">
								Sveiki, Irmantai
								<i class="fa fa-caret-down"></i>

								<ul class="dropdown">
									<li class="settings">
										<a routerLink="/profilis" routerLinkActive="active">Profilis<i class="fa fa-cog"></i></a>
									</li>
                                    <li class="settings" *ngIf="isClient()">
										<a routerLink="/mano-konkursai" routerLinkActive="active">Mano Konkursai(client)<i class="fa fa-bars"></i></a>
									</li>
                                    <li class="settings" *ngIf="isDesigner()">
										<a routerLink="/mano-konkursai" routerLinkActive="active">Mano Konkursai(designer)<i class="fa fa-bars"></i></a>
									</li>
									<li class="logout">
										<a (click)="logout()" href="#">Atsijungti <i class="fa fa-sign-out"></i></a>
									</li>
								</ul>
							</li>
						</ul>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #loginModal>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="login(loginF)" #loginF> 
            <modal-header [show-close]="true">
                <h4 class="modal-title text-center">Prisijungimas</h4>
            </modal-header>
            <modal-body>
                <div class="form-group">
                    <label for="nickName">Slapyvardis</label>
                    <input autofocus type="text" class="form-control" formControlName="nickName" name="nickName" id="nickName" autofocus>
                </div>
                <div class="form-group">
                    <label for="lastName">Slaptažodis</label>
                    <input type="text" class="form-control" formControlName="password" name="password" id="password">
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="loginModal.dismiss()">Atšaukti</button>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="loginModal.close()">Prisijungti</button>
            </modal-footer>
        </form>
</modal>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #registerModal>
        <form [formGroup]="registerForm" novalidate (ngSubmit)="register(registerF)" #registerF> 
            <modal-header [show-close]="true">
                <h4 class="modal-title text-center">Registracija</h4>
            </modal-header>
            <modal-body>
              <div class="form-group">
                    <label for="firstName">Vardas</label>
                    <input autofocus type="text" class="form-control" formControlName="firstName" name="firstName" id="firstName" autofocus>
                </div>
                <div class="form-group">
                    <label for="firstName">Pavardė</label>
                    <input type="text" class="form-control" formControlName="lastName" name="lastName" id="lastName">
                </div>
                <div class="form-group">
                    <label for="firstName">El. Paštas</label>
                    <input type="text" class="form-control" formControlName="email" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="firstName">Slapyvardis</label>
                    <input type="text" class="form-control" formControlName="nickName" name="nickName" id="nickName">
                </div>
                <div class="form-group">
                    <label for="lastName">Slaptažodis</label>
                    <input type="text" class="form-control" formControlName="password" name="password" id="password">
                </div>
                <div class="form-group">
                    <label style="display: block">Dizaineris ar užsakovas?</label>
                    <div *ngFor="let type of userTypes" class="radios">
                    <label>
                    <input type="radio" class="form-control" formControlName="userType" name="userType" id="userType" [value]="type.value">
                    {{ type.display }}
                    </label>
                    </div>
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="registerModal.dismiss()">Atšaukti</button>
                <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid" (click)="registerModal.close()">Registruotis</button>
            </modal-footer>
        </form>
</modal>