<!--
<div class="header">
  <div class="container">
    <div class="steps-title">
      <h2>Dizainų konkursai</h2>
    </div>
    <div class="steps">
      <div class="step-1">
        <strong>1</strong>
        <div style="font-size: 20px">Užsiregistruokite</div>
      </div>
      <div class="arrow">
        →
      </div>
      <div class="step-2">
        <strong>2</strong>
        <div style="font-size: 20px">Pateikite dizaino aprašymą</div>
      </div>
      <div class="arrow">
        →
      </div>
      <div class="step-3">
        <strong>3</strong>
        <div style="font-size: 20px">Išsirinkite geriausią dizainą</div>
      </div>
    </div> 

    <ul>
      <li><a routerLink="/profilis" routerLinkActive="active">Profilis</a></li> 
    </ul>

    <div class="gallery">
      <h2>Darbų galerija</h2>
      <div class="logo-gallery">
        <ul>
          <li class="logo-img"><a class="thumbnail" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcL94wvQMzk0lsb208Jskly47DDcEzhxr5Wyv_0KKBDMAh9n-l4A" alt="img"></a></li>
          <li class="logo-img"><a class="thumbnail" href="#"><img src="https://s-media-cache-ak0.pinimg.com/236x/cb/36/cf/cb36cf757d259d106960795c587f5b27.jpg" alt="img"></a></li>
          <li class="logo-img"><a class="thumbnail" href="#"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSWOPVjP9EjNuOFjqJ2C721UuGsOv9TPaeVb61CpKZqvh1CJPOg" alt="img"></a></li>
          <li class="logo-img"><a class="thumbnail" href="#"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSYdon9K46TgARnnVu85ZbGRFHjBiHACOd4pRHT2-HyAEjARZUL" alt="img"></a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
-->

<section class="app-headline">
		<div class="row">
			<div class="column small-12">
				<div class="app-breadcrumbs">
					<a routerLink="/kategorijos" routerLinkActive="active">All categories</a>
					<a href="#" class="current">Graphic design</a>
				</div><!-- .breadcrumbs -->
			</div><!-- .column small-12 -->
		</div><!-- .row -->
	</section><!-- .app-headline -->

	<section class="app-innernav">
		<div class="row">
			<div class="column small-12">
				<nav class="inner-navigation">
					<ul>
						<li><a href="#">Categories</a></li> <!-- Dropdown -->
						<li class="current"><a href="#">Open Contests</a></li>
						<li><a href="#">Finished Contests</a></li>
					</ul>
				</nav><!-- .inner-navigation -->
			</div><!-- .column small-12 -->
		</div><!-- .row -->
	</section><!-- .app-innernav -->

	<section class="app-main">
		<div class="row">
			<div class="columns small-12">
				<div class="page-headline">
					<h2 class="title">Open project requests</h2><!-- .headline -->
					<span class="subtitle">See the latest design requests here</span>
					
					<!-- This one is aligned to the right. -->
					<a href="#" class="see-faq">See tutorials on publishing</a>
				</div><!-- .page-headline -->
			</div><!-- .columns small-12 -->
		</div><!-- .row -->

		<div class="row">
			<div class="columns small-12">
				<!-- The component that switches tables, searches, has new request button -->
				<div class="action-bar">
					<div class="table-actions">
						<div class="tab tab-active current">
							<i class="fa fa-rotate-left"></i>
							<span>Active</span>
							<span class="label">45</span>
						</div><!-- .tab -->
						<div class="tab tab-finished">
							<i class="fa fa-star"></i>
							<span>Finished</span>
							<span class="label">273</span>
						</div><!-- .tab -->

						<div class="table-search">
							<i class="fa fa-search"></i>
							<input type="text" class="search" placeholder="Search requests" />
							<input type="submit" value="Search" />
						</div><!-- .search -->
					</div><!-- .table-actions -->
					<a routerLink="/paskelbti-konkursa" routerLinkActive="active" class="button new-request">New contest</a><!-- .new-request button -->
				</div><!-- .table-center -->
			</div><!-- .columns small-12 -->
		</div><!-- .row -->

		<div class="row">
			<div class="columns small-12">
				<div class="table-primary">
					<header class="table-header">
						<strong class="status">Status</strong>
						<strong class="category">Category</strong>
						<strong class="name">Name</strong>
						<strong class="price">Price</strong>
						<strong class="submitions">Submitions</strong>
						<strong class="time-remaining">Time Remaining</strong>
					</header><!-- .table-header -->

					<div class="table-row premium">
						<div class="status">
							<span class="active">Active</span>
						</div>
						<div class="category">
							<span>Website</span>
						</div>
						<div class="name">
							<span>U99 Designer</span>
						</div>
						<div class="price">
							<span>3,442 EUR</span>
						</div>
						<div class="submitions">
							<span>3</span>
						</div>
						<div class="time-remaining">
							<span>14 hours</span>
						</div>
					</div><!-- .table-row -->

					<div class="table-row">
						<div class="status">
							<span class="active">Active</span>
						</div>
						<div class="category">
							<span>Website</span>
						</div>
						<div class="name">
							<span>U99 Designer</span>
						</div>
						<div class="price">
							<span>3,442 EUR</span>
						</div>
						<div class="submitions">
							<span>3</span>
						</div>
						<div class="time-remaining">
							<span>14 hours</span>
						</div>
					</div><!-- .table-row -->
				</div><!-- .primary-table -->
			</div><!-- .columns small-12 -->
		</div><!-- .row -->
</section><!-- .app-main -->