<h1 class="text-center">Contest details</h1>
<br>

<div *ngIf="!contest">Kraunama...</div>
<div *ngIf="contest">  
  <h2>ID: {{contestId}}</h2>
  <small>ID Name: {{contest.idName}}</small>
  <small>Generated unique ID: {{contest.uniqueId}}</small>
  <small>contest name: {{contest.name}}</small>
  <small>contest category: {{contest.category}}</small>
  <small>contest description: {{contest.description}}</small>
  <small>contest award: {{contest.award}}</small>
  <small>contest status: {{contest.status}}</small>
  <small>contest start date: {{contest.startDate | localDateStandart}}</small>
  <small>contest end date: {{contest.endDate | localDateFromNow}} ({{contest.endDate | date: 'yyyy-MM-dd'}})</small>
  <small>contest submition count: {{contest.submitionCount}}</small>
  <small>contest published by: {{contest.publisher.firstName}}</small>
  <small>MomentJS date test: {{momentDate}}</small>

  <h3>Extra files:</h3>
  <div class="inline-block thumbnail-container" *ngFor="let file of additionalFiles | paginate: {id: 'three', itemsPerPage: 5, currentPage: p3}" >
    <img class="mini-image" src="http://localhost:3000/uploads/contests/{{contestId}}/{{file.fileUrl}}" alt="Failas">
  </div>
  <pagination-controls *ngIf="additionalFiles.length > 5" id="three" (pageChange)="p3 = $event" directionLinks="false" #api3></pagination-controls>
    <div *ngIf="isContestPublisher(contest.publisher._id) && isEmailConfirmed()">
    <input type="file" name="additionalFiles" (change)="fileChangeEvent($event)" placeholder="Pasirinkite..." multiple />
    <button type="button" [disabled]="filesToUpload.length == 0" (click)="uploadAdditionalFiles()">Upload</button>
    {{percent}} %
  </div>
  <br>
  <div *ngIf="contest.status == 'Užbaigtas'">Konkursas užbaigtas !</div>
  <div *ngIf="contest.status == 'Laikas baigėsi'">Konkurso laikas baigėsi</div>
  <br>
  <div *ngIf="winnerSubmition">
    <h2 class="text-center">Winner:</h2>
    <div class="winner-container">
      <div>SubmitionID: {{winnerSubmition?.submitionId}} </div>
      <img class="mini-image" (click)="viewSubmitionDetails(contestId, contest, winnerSubmition)" src="http://localhost:3000/uploads/contests/{{contestId}}/{{winnerSubmition.submitionUrl}}" alt="Submition">
        <br>
        <span>Author: {{winnerSubmition?.submitionAuthor?.nickName}}</span>
        <div>
          <star-rating class="inline-block" *ngIf="!isContestPublisher(contest.publisher._id)" [rating]="winnerSubmition.submitionRating" [readonly]="true" [submitionId]="winnerSubmition.submitionId" [contestId]="contest.idName" (ratingClicked)="onRating($event)"></star-rating>
          <star-rating class="inline-block" *ngIf="isContestPublisher(contest.publisher._id)" [rating]="winnerSubmition.submitionRating" [readonly]="false" [submitionId]="winnerSubmition.submitionId" [contestId]="contest.idName" (ratingClicked)="onRating($event)"></star-rating>
        </div>

        <span *ngIf="winnerSubmition.comments">{{winnerSubmition.comments.length}} comments</span>
    </div>
  </div>
  <h2 class="text-center">Submitions ({{submitions.length}})</h2>
  <div *ngIf="submitions.length == 0"><h4>No submitions uploaded</h4></div>
  <div class="thumbnail-row" *ngIf="contestId">
    <div class="inline-block thumbnail-container" *ngFor="let submition of submitions | paginate: {id: 'one', itemsPerPage: 10, currentPage: p1}">
      <div class="mini-image-container">
      <div class="pad-left-60">SubmitionID: {{submition.submitionId}}</div>
      <img class="mini-image" (click)="viewSubmitionDetails(contestId, contest, submition)" src="http://localhost:3000/uploads/contests/{{contestId}}/{{submition.submitionUrl}}" alt="Submition">
      <br>
      <span class="pad-left-60">Author: {{submition.submitionAuthor.nickName}}</span>
      <div>
        <star-rating class="star-rating" *ngIf="!isContestPublisher(contest.publisher._id)" [rating]="submition.submitionRating" [readonly]="true" [submitionId]="submition.submitionId" [contestId]="contest.idName" (ratingClicked)="onRating($event)"></star-rating>
        <star-rating class="star-rating" *ngIf="isContestPublisher(contest.publisher._id)" [rating]="submition.submitionRating" [readonly]="false" [submitionId]="submition.submitionId" [contestId]="contest.idName" (ratingClicked)="onRating($event)"></star-rating>
      </div>
      <span class="pad-left-60" *ngIf="submition.comments">{{submition.comments.length}} comments</span>
      <!--<submition-details [contestId]="contestId" [contest]="contest" [submition]="submition"></submition-details>-->
    </div>
  </div>
  </div>
  <pagination-controls *ngIf="submitions.length > 0 && isDesigner()" id="one" (pageChange)="p1 = $event" directionLinks="false" #api1></pagination-controls>
  <br>
  <div *ngIf="mySubmitions.length > 0 && isDesigner()">
    <h2 class="text-center">My submitions ({{mySubmitions.length}})</h2>
    <div class="thumbnail-row">
      <div class="inline-block thumbnail-container" *ngFor="let mySubmition of mySubmitions | paginate: {id: 'two', itemsPerPage: 10, currentPage: p2}">
        <div class="mini-image-container">
        <div class="pad-left-60">SubmitionID: {{mySubmition.submitionId}}</div>
        <img class="mini-image" src="http://localhost:3000/uploads/contests/{{contestId}}/{{mySubmition.submitionUrl}}" alt="Submition">
          <br>
          <span class="pad-left-60">Author: {{mySubmition.submitionAuthor.nickName}} (debug) </span>
            <div>
              <star-rating class="star-rating" [rating]="mySubmition.submitionRating" [readonly]="true" [submitionId]="mySubmition.submitionId" [contestId]="contest.idName" (ratingClicked)="onRating($event)"></star-rating>
            </div> 
          <span class="pad-left-60" *ngIf="mySubmition.comments">{{mySubmition.comments.length}} comments</span>
        </div>
      </div>
    </div>
    <br>
  </div>  
  <pagination-controls *ngIf="mySubmitions.length > 0 && isDesigner()" id="two" (pageChange)="p2 = $event" directionLinks="false" #api2></pagination-controls>
  <div *ngIf="!isLoggedIn() && contest.status != 'Užbaigtas' && contest.status != 'Laikas baigėsi'">Kad galėtumėte dalyvauti konkurse, turite būti prisijungęs kaip registruotas dizaineris</div>
  <div *ngIf="isDesigner() && contest.status != 'Užbaigtas' && contest.status != 'Laikas baigėsi' && !isEmailConfirmed()"><h2 class="text-center">Kad galėtumėte dalyvauti konkurse, patvirtinkite savo el. pašto paskyrą profilio nustatymuose</h2></div>
  <div *ngIf="isDesigner() && contest.status != 'Užbaigtas' && contest.status != 'Laikas baigėsi' && isEmailConfirmed()">
    <h2>Participate:</h2>
  <input type="file" name="submition" (change)="fileChangeEvent($event)" placeholder="Pasirinkite..." multiple />
  <button type="button" [disabled]="filesToUpload.length == 0" (click)="uploadSubmitions()">Upload</button>
  {{percent}} %
  </div>
  <div *ngIf="isClient() && contest.status != 'Užbaigtas' && contest.status != 'Laikas baigėsi'">Kad galėtumėte dalyvauti konkurse, turite būti registruotas dizaineris</div>

  <div class="comments-section">
    <comments-section [contest]="contest"></comments-section>
  </div>
  
</div>

<simple-notifications [options]="options"></simple-notifications>

<test-loader *ngIf="isLoading"></test-loader>
