<div class="row spacing">

  <div class="col-md-8 col-md-offset-2 pad-10">
          <div *ngFor="let contest of contests">
    <div class="panel panel-default">

        <div class="panel-body">
            {{ contest.name }}
        </div>
        <div class="panel-footer">   
          <div class="author">         
            {{ contest.category }} - {{ contest.userName }} - <a [routerLink]="['/mano-konkursai', contest.idName]">Info</a>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>
