<div *ngIf="contest">
<section class="app-headline">
		<div class="row">
			<div class="column small-12">
				<div class="app-breadcrumbs">
					<a routerLink="/">Pagrindinis puslapis</a>
					<a routerLink="/konkursai">Konkursai</a>
                    <a routerLink="/konkursai/{{contest.idName}}">{{contest?.idName}}</a>
                    <a class="current">{{submition?.submitionId}}</a>
				</div><!-- .breadcrumbs -->
			</div><!-- .column small-12 -->
		</div><!-- .row -->
	</section><!-- .app-headline -->

<div>
    <div class="label-wrapper">
        <h2 class="text-center">Dizainas #{{submition?.submitionId}}</h2>
    </div>
    <div class="img-container">
        <a class="fancybox" rel="onesubmition" href="http://localhost:3000/uploads/contests/{{contestId}}/{{submition.submitionUrl}}">
            <img src="http://localhost:3000/uploads/contests/{{contestId}}/{{submition.submitionUrl}}" alt="Dizainas">
        </a>   
    </div>
    <div class="label-wrapper no-margin">
        <h3 class="text-center">Autorius - {{submition?.submitionAuthor?.nickName}}</h3>
    </div>
    <div class="text-center">
        <star-rating class="star-rating" *ngIf="!isContestPublisher(contest.publisher._id)" [rating]="submition.submitionRating" [readonly]="true" [submitionId]="submition.submitionId" [contestId]="contest.idName" (ratingClicked)="onRating($event)"></star-rating>
        <star-rating class="star-rating" *ngIf="isContestPublisher(contest.publisher._id)" [rating]="submition.submitionRating" [readonly]="false" [submitionId]="submition.submitionId" [contestId]="contest.idName" (ratingClicked)="onRating($event)"></star-rating>
    </div>
    <div class="text-center btn-block" *ngIf="contest.status == 'Laikas baigėsi'">
        <button *ngIf="isContestPublisher(contest.publisher._id)" type="button" class="btn-back" (click)="confirmationVisible = true">Paskelbti nugalėtoju</button>
        <button *ngIf="confirmationVisible" type="button" class="btn-confirm" (click)="selectWinner(contest.idName, submition.submitionId, contest, submition)">Patvirtinti</button>
        <button *ngIf="confirmationVisible" type="button" class="btn-cancel" (click)="confirmationVisible = false">Atšaukti</button>
    </div>

    <div class="btn-block text-center container" *ngIf="isDesignAuthor(submition.submitionAuthor._id)">
        <h2 class="title-label">Pakeisti šį dizainą</h2>
        <input class="file-input" type="file" name="submition" (change)="fileChangeEvent($event)" placeholder="Pasirinkite..." multiple />
        <button *ngIf="filesToUpload.length > 0" class="upload-button" type="button" [disabled]="filesToUpload.length == 0" (click)="changeSubmition()">Pakeisti</button>
        <span *ngIf="percent && percent != 100" class="percent"> {{percent}} %</span>
        
    </div>

    <!--<input type="file" name="submition" (change)="fileChangeEvent($event)" placeholder="Pasirinkite..." multiple />
  <div class="button-wrapper">
    <button class="upload-button" type="button" [disabled]="filesToUpload.length == 0" (click)="uploadSubmitions()">Įkelti dizainus</button>
     <span *ngIf="percent" class="percent"> {{percent}} %</span>
  </div>-->

    <!--<div class="button-wrapper">
        <button *ngIf="contest" type="button" class="btn-back" (click)="goBack()">Grįžti atgal</button>
    </div>
    <br>-->
    <!--<h3>Comments:</h3>
    <div *ngIf="submition.comments.length == 0">Nėra komentarų</div>
    <div *ngIf="submition.comments.length > 0">
        <div *ngFor="let comment of submition.comments">
            {{comment.comment}}
            <br>
            - {{comment.commentAuthor}} - {{comment?.commentAuthor?.nickName}}
        </div>
    </div>-->
    <div class="comments-section" *ngIf="submition">
        <submition-comments-section [contest]="contest" [submition]="submition"></submition-comments-section>
    </div>
</div>
</div>

<simple-notifications [options]="options"></simple-notifications>

<test-loader *ngIf="isLoading"></test-loader>