<section class="app-headline">
	<div class="row">
		<div class="column small-12">
			<div class="app-breadcrumbs">
				<a routerLink="/">Pagrindinis puslapis</a>
				<a class="current">Kaip tai veikia</a>
			</div><!-- .breadcrumbs -->
		</div><!-- .column small-12 -->
	</div><!-- .row -->
</section><!-- .app-headline -->

<div class="body-wrapper">
  <div class="warning-wrapper">
    <div>Pastaba: tai projektas bakalauriniui darbui. Sistemoje radę klaidų praneškite apie jas el. paštu irmantas.liepis@inbox.lt</div>
  </div>

  <div class="label-wrapper">
    <div class="label">
      <h3>Konkurso skelbimas</h3>
    </div>
  </div>

  <div class="description-wrapper">
    <div class="description">
      <ol>
        <li>Užsiregistruokite</li>
        <li>Paskelbkite konkursą užpildę anketą</li>
        <li>Išsirinkite geriausią dizainą</li>
      </ol>
    </div>
  </div>

  <div class="label-wrapper">
    <div class="label">
      <h3>Sistemos taisyklės</h3>
    </div>
  </div>

  <div class="description-wrapper">
    <div class="description">
      <ol>
        <li>Gerbkite kitus vartotojus ir administraciją.</li>
        <li>Nenaudokite sistemos pašaliniais tikslais.</li>
        <li>Įkeliamas dizainas turi būti .jpg, .jpeg, .gif arba .png formato.</li>
        <li>Konkursas gali būti pratęsiamas administratoriaus, padidinus konkurso prizinę sumą bent 10 &euro;</li>
        <li>Ši sistema neprisiima atsakomybės dėl konkurso rengėjo atsiskaitymo užtikrinimo.</li>
        <li>Suteikiama 100% pinigų gražinimo garantija</li>
        <li>Už konkurso taisyklių pažeidimą, darbų kopijavimą ar kitokį netinkamą elgesį vartotojai gali būti pašalinami iš sistemos be atskiro įspėjimo.</li>
        <li>Taisyklių sąrašas dar bus pildomas</li>
        <li>...</li>
      </ol>
    </div>
  </div>

</div>