<section class="app-headline">
		<div class="row">
			<div class="column small-12">
				<div class="app-breadcrumbs">
					<a routerLink="/">Pagrindinis puslapis</a>
					<a routerLink="/admin">Valdymo pultas</a>
					<a routerLink="/admin/konkursai">Konkursai</a>
          <a class="current">{{contest?.name}}</a>
				</div>
			</div>
		</div>
	</section>


<div class="text-center italic" *ngIf="!contest"><div>Kraunama...</div></div>
<div *ngIf="contest">  

<div class="section-name">
  <h1 class="text-center">Konkurso detalės</h1>
</div>

<div class="section-status">
  <h2 class="text-center">Statusas: <span class="section-status-span" [ngClass]="{'active': contest.status == 'Aktyvus', 'finished': contest.status == 'Užbaigtas', 'timed-out': contest.status == 'Laikas baigėsi', 'resumed': contest.status == 'Pratęstas', 'cancelled': contest.status == 'Atšauktas', 'unconfirmed': contest.status == 'Nepatvirtintas'}">{{contest.status}}</span></h2>
</div>

<div class="description-wrapper"> <!-- start of description block -->
  <div class="description-block">
    <div class="project-name">
      <h3>Konkurso kategorija</h3>
    </div>
    <div class="project-name-text">
      <p>{{contest?.category}}</p>
    </div>
  </div>
  <hr>
  <div class="description-block">
    <div class="project-name">
      <h3>Logotipo pavadinimas</h3>
    </div>
    <div class="project-name-text">
      <p>{{contest?.name}}</p>
    </div>
  </div>
  <hr>
  <div class="description-block">
    <div class="project-name">
      <h3>Logotipo aprašymas</h3>
    </div>
    <div class="project-name-text">
      <p>{{contest?.description}}</p>
    </div>
  </div>
  <hr>
  <div *ngIf="contest.colors">
    <div class="description-block">
      <div class="project-name">
        <h3>Spalvos</h3>
      </div>
      <div class="project-name-text">
        <p>{{contest?.colors}}</p>
      </div>
    </div>
    <hr>
  </div>
  <div *ngIf="contest.style">
    <div class="description-block">
      <div class="project-name">
        <h3>Logotipo stilius</h3>
      </div>
      <div class="project-name-text">
        <p>{{contest?.style}}</p>
      </div>
    </div>
    <hr>
  </div>
  <div *ngIf="contest.organization">
    <div class="description-block">
      <div class="project-name">
        <h3>Organizacijos aprašymas</h3>
      </div>
      <div class="project-name-text">
        <p>{{contest?.organization}}</p>
      </div>
    </div>
    <hr>
  </div>
  <div *ngIf="contest.extraInfo">
    <div class="description-block">
      <div class="project-name">
        <h3>Papildoma informacija</h3>
      </div>
      <div class="project-name-text">
        <p>{{contest?.extraInfo}}</p>
      </div>
    </div>
    <hr>
  </div>
  <div class="description-block">
    <div class="project-name">
      <h3>Konkurso prizas</h3>
    </div>
    <div class="project-name-text">
      <p>{{contest?.award}} &euro;</p>
    </div>
  </div>
  <hr>
  <div class="description-block">
    <div class="project-name">
      <h3>Konkurso pabaiga</h3>
    </div>
    <div class="project-name-text">
      <p>{{contest?.endDate | date:'short'}}</p>
    </div>
  </div>
</div> <!-- end of description block -->

<div class="btn-back-wrapper" *ngIf="contest.status == 'Nepatvirtintas'">
    <button class="btn" type="button" (click)="validateContest(contest.idName)">Patvirtinti konkursą</button>
    <button class="btn pad-20" type="button" (click)="denyContest(contest.idName)">Atmesti konkursą</button>
</div>
  <div class="btn-back-wrapper" *ngIf="contest.status == 'Laikas baigėsi'">
    <button class="btn" (click)="extendInputEnabled = true">Pratęsti konkursą</button>
    <span *ngIf="extendInputEnabled">Pratęsti dienų: </span>
    <input *ngIf="extendInputEnabled"  type="number" name="endDate" [(ngModel)]="endDate" min="1" max="30" required>
    <button class="btn btn-primary pad-20" *ngIf="extendInputEnabled" [disabled]="endDate < 1 || endDate > 30" (click)="extendContest()" type="button">Pratęsti</button>
  </div>

  <div *ngIf="additionalFiles.length > 0 || isContestPublisher(contest.publisher._id)">
    <div class="section-extra">
      <h2 class="text-center">Papildomi failai</h2>
    </div>
    <div class="thumbnail-row">
      <div class="inline-block extra-container" *ngFor="let file of additionalFiles | paginate: {id: 'three', itemsPerPage: 5, currentPage: p3}" >
        <a class="fancybox" rel="extra" href="http://localhost:3000/uploads/contests/{{contestId}}/{{file.fileUrl}}">
          <img class="mini-image shadow" src="http://localhost:3000/uploads/contests/{{contestId}}/{{file.fileUrl}}" alt="Failas">
        </a>
      </div>
    </div>
    <pagination-controls *ngIf="additionalFiles.length > 5" id="three" (pageChange)="p3 = $event" directionLinks="false" #api3></pagination-controls>
  </div>

  <!--<div *ngIf="contest.status == 'Užbaigtas'">Konkursas užbaigtas !</div>
  <div *ngIf="contest.status == 'Laikas baigėsi'">Konkurso laikas baigėsi</div>-->

  <div *ngIf="winnerSubmition">
    <div class="winner-submition-label">
      <h2 class="text-center">Nugalėtojas</h2>
    </div>
    <div class="winner-container">
      <div class="winner-container-image">
      <div class="winner-submition-sub-label">Dizainas: #{{winnerSubmition?.submitionId}} </div>
      <img class="mini-image" (click)="viewSubmitionDetails(contestId, contest, winnerSubmition)" src="http://localhost:3000/uploads/contests/{{contestId}}/{{winnerSubmition.submitionUrl}}" alt="Submition">
        <br>
        <span class="italic">Autorius: {{winnerSubmition?.submitionAuthor?.nickName}}</span>
      </div>
    </div>
    <div class="winner-extra-info">
      <div class="extra-info-col-one">
        <h2 class="extra-info-text">Nugalėtojas buvo išrinktas iš {{contest.submitions.length}} dizainų.</h2>
      </div>
      <div class="extra-info-col-two">
        <h2 class="extra-info-text">Konkurse dalyvavo {{contest.participants.length}} {{contest.participants.length < 10 ? 'dizaineriai' : 'dizainerių'}}</h2>
      </div>
    </div>
  </div>
  <h2 class="text-center designs-label">Dizainai ({{submitions.length}})</h2>
  <div class="no-designs-info" *ngIf="submitions.length == 0"><div class="italic text-center">Įkeltų dizainų nėra</div></div>
  <div class="thumbnail-row" *ngIf="contestId">
    <div class="inline-block thumbnail-container" *ngFor="let submition of submitions | paginate: {id: 'one', itemsPerPage: 10, currentPage: p1}">
      <div class="mini-image-container">
      <div class="pad-left-60">Dizainas: #{{submition.submitionId}}</div>
      <img class="mini-image" (click)="viewSubmitionDetails(contestId, contest, submition)" src="http://localhost:3000/uploads/contests/{{contestId}}/{{submition.submitionUrl}}" alt="Submition">
      <br>
      <span class="pad-left-60">Autorius: {{submition.submitionAuthor.nickName}}</span>
      <div>
        <star-rating class="star-rating" *ngIf="!isContestPublisher(contest.publisher._id)" [rating]="submition.submitionRating" [readonly]="true" [submitionId]="submition.submitionId" [contestId]="contest.idName" (ratingClicked)="onRating($event)"></star-rating>
        <star-rating class="star-rating" *ngIf="isContestPublisher(contest.publisher._id)" [rating]="submition.submitionRating" [readonly]="false" [submitionId]="submition.submitionId" [contestId]="contest.idName" (ratingClicked)="onRating($event)"></star-rating>
      </div>
      <span class="pad-left-60" *ngIf="submition.comments">{{submition.comments.length}} {{submition.comments.length == 0 ? 'komentarų' : submition.comments.length == 1 ? 'komentaras' : submition.comments.length < 10 ? 'komentarai' : 'komentarų'}}</span>
      <!--<submition-details [contestId]="contestId" [contest]="contest" [submition]="submition"></submition-details>-->
    </div>
  </div>
  </div>
  <pagination-controls *ngIf="submitions.length > 10" id="one" (pageChange)="p1 = $event" directionLinks="false" #api1></pagination-controls>
  <div class="comments-section">
    <comments-section [contest]="contest"></comments-section>
  </div>
  
</div> <!-- end of copy block -->


<simple-notifications [options]="options"></simple-notifications>

<test-loader *ngIf="isLoading"></test-loader>
