<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dizaino konkursai</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a routerLink="/kategorijos" routerLinkActive="active">Kategorijos</a></li>
            <li><a routerLink="/kaip-tai-veikia" routerLinkActive="active">Kaip tai veikia?</a></li>
            <li><a routerLink="/dizaineriai" routerLinkActive="active">Dizaineriai</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Prisijungti</a></li>
            <li><a href="#">Registracija</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>