.app-innernav {
	background-color: $color-invert;
	color: white;
	padding: 0;

	h1,h2,h3,h4,h5, a { color: white; }


	.inner-navigation {
		font-weight: bold;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
			display: inline-block;
			margin-right: -5px;
		}

		a {
			display: inline-block;
			padding: 10px 20px;
		}

		a:hover {
			background: lighten(  $color-invert, 15% );
		}

		.current a,
		.current:hover a {
			background: white;
			color: black;
		}
	}

}

