.table-search {
	margin-left: auto;
	display: flex;
	align-items: center;
	margin-right: 10px;
    flex: 1 1 auto;
    justify-content: flex-end;

	// Hide the submit button by default, use for readers
	input[type="submit"] { display: none; }

	.search {
		padding: 8px 12px;
		border: 1px solid #ccc;
		background: white;
		border-radius: 3px;
		font-size: 14px;
		width: 100%;
		max-width: 300px;

		&:focus {
			outline: none;
			border: 1px solid #999;
		}
	}

	.fa-search {
		margin-right: 10px;
		color: #999;
	}
}
