.mail-tab {
  border: 1px solid dimgray;
  background-color: lightgray;
  padding: 2px;
}

.messages-wrapper {
  max-width: 1200px;
  margin: 30px auto;
  /*display: flex;*/
}

.messages-header {
  display: flex;
  padding-left: 7px;
}

.message-sender-label {
  flex: 1;
}

.message-body-label {
  flex: 3;
}

.messages-list {
  display: flex;
  border: 1px solid #ddd;
  border-bottom: 1px transparent;
  padding: 5px 8px;
}

.messages-list:hover {
  cursor: pointer;
  background-color: #ffebc6;
}

.messages-list:last-child {
    border: 1px solid #ddd;
}

.message-sender {
  flex: 1;
}

.message-body {
  flex: 3;
}

.section-label {
  margin: 50px auto;
  text-align: center;
}

br {
  padding: 10px;
}

.topic {
  font-weight: bold;
}

span.unread-sender {
  font-weight: bold;
}

.unread {
  background-color: #e6e6e6;
}

span.sender {
  padding-left: 5px;
}

.no-messages {
  text-align: center;
  max-width: 1200px;
  margin: 30px auto;
}

