<h1>Paštas</h1>

<span class="mail-tab"><a routerLink="/profilis/pastas/rasyti-laiska">Rasyti laiska</a></span>
<span class="mail-tab"><a routerLink="/profilis/pastas/rasyti-laiska/user">Rasyti laiska vartotojui 'user'</a></span>
<span class="mail-tab"><a routerLink="/profilis/pastas/issiusta">Issiusti laiskai</a></span>


<h2>Žinutės:</h2>
<div *ngIf="messages.length == 0">Žinučių nėra</div>
<div *ngIf="messages.length > 0">
  <div *ngFor="let message of messages">
    <div (click)="viewMessage(message.messageId)">
      {{message?.topic}} - {{message?.sender}}
    </div>
  </div>
</div>

<simple-notifications [options]="options"></simple-notifications>

<test-loader *ngIf="isLoading"></test-loader>