div.tab:hover {
  background-color: #f2ffff;
  box-shadow: inset 0 0 0 1px #ccc;
  transition: all 0.25s ease-in 0s;
}

.description-wrapper {
  margin: 30px 359px;
  border: 1px solid #888;
  padding: 30px;
  border-radius: 20px;
  background-color: #efefef;
}

.description-block {
  display: flex; 
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex;
}

.project-name {
  flex: 1;
  -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;           /* IE 10 */
  align-self: center;
}

.project-name-text {
  flex: 3;
  -webkit-box-flex: 3;   /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: 3;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 3;           /* IE 10 */
  font-family: "Source Sans Pro", sans-serif, monospace;
  font-size: 1rem;
}

hr {
  padding: 5px;
}

.label-wrapper {
  text-align: center;
}

pre.message-body {
  font-family: "Source Sans Pro", sans-serif, monospace;
  font-size: 1rem;
  word-wrap: break-word;
  white-space: pre-line;
  padding: 0;
  margin: 0;
  line-height: 1em;
}

.button-back-wrapper {
  text-align: center;
}

.btn-back {
  display: block;
  margin: 20px auto;
  padding: 7px;
  border-radius: 5px;
  border: 1px transparent;
  transition: all 0.2s ease-in 0s;
}

.btn-back:hover {
  background-color: #2b3542;
  color: #fff;
  /*border: 1px solid #2b3542;*/
}

