<h1>Read message</h1>
<div *ngIf="!message">No message loaded / Message deleted</div>
<div *ngIf="message">
  <div>Sent by: {{message.sender.nickName}}</div>
  <div>Message: {{message.message}}</div>
</div>

<button type="button" (click)="reply()">Reply</button>
<button type="button" (click)="deleteMessage()">Delete</button>

<div>
  <button type="button" (click)="goBack()">Grįžti atgal</button>
</div>

<simple-notifications [options]="options"></simple-notifications>

<test-loader *ngIf="isLoading"></test-loader>