<section class="app-headline">
		<div class="row">
			<div class="column small-12">
				<div class="app-breadcrumbs">
					<a routerLink="/">Pagrindinis puslapis</a>
					<a (click)="backToList()">Kategorijos</a>
					<a class="current">Reklama</a>
				</div><!-- .breadcrumbs -->
			</div><!-- .column small-12 -->
		</div><!-- .row -->
	</section><!-- .app-headline -->

	<section class="app-main">
		<div class="row">
			<div class="columns small-12">
				<div class="page-headline">
					<h2 class="title">Užpildykite formą žemiau</h2><!-- .headline -->
					<!--<span class="subtitle">Page <strong>1</strong> of 3</span>-->
					
					<!-- This one is aligned to the right. -->
        <a (click)="backToList()" class="see-faq">Atgal į sąrašą</a>
				</div><!-- .page-headline -->
			</div><!-- .columns small-12 -->
		</div><!-- .row -->

		<form #f="ngForm" (ngSubmit)="addContest(f.value)">

		<div *ngIf="!isClient()" class="input-forms">
			<div class="input-row">
				<h4><span class="span-bold">Paskelbti konkursą gali tik užsakovai.</span> <span class="normal-text">Prašome <span class="italic">prisijungti</span> ar <span class="italic">užsiregistruoti</span></span>.</h4>
			</div>
		</div>

		<div *ngIf="isClient() && !isEmailConfirmed()" class="input-forms">
			<div class="input-row">
				<h4><span class="span-bold">Kad galėtumėte paskelbti konkursą, prašome patvirtinti savo el. pašto paskyrą</span> <a class="span-link" routerLink="/profilis">profilyje</a></h4>
			</div>
		</div>

		<div *ngIf="isClient() && isEmailConfirmed()" class="input-forms">

			<div class="input-row">
				<div class="input-label">
					<span>Konkurso kategorija</span>
				</div><!-- .input-label -->
				<div class="input-field">
					<input class="readonly" type="text" readonly name="category" [(ngModel)]="contest.category" #category="ngModel" />
				</div><!-- .input-field -->
				<span (click)="backToList()" class="btn-back">Pakeisti</span>
			</div><!-- .input-row -->

			<hr class="sep" />

			<div class="input-row">
				<div class="input-label">
					<span>Konkurso pavadinimas</span>
				</div><!-- .input-label -->
				<div class="input-field">
					<input type="text" placeholder="Pvz. reklamos ar įmonės pavadinimas" [ngClass]="{'input-area-error': name.errors && (name.dirty || name.touched)}" name="name" [(ngModel)]="contest.name" required #name="ngModel" />
				</div><!-- .input-field -->
				<span *ngIf="name.pristine" class="asterisk">*</span>
			</div><!-- .input-row -->
			<div *ngIf="name.errors && (name.dirty || name.touched)"
				class="input-error-below">
				<div [hidden]="!name.errors.required">
					Įveskite konkurso pavadinimą
				</div>
			</div>

			<div class="input-row">
				<div class="input-label">
					<span>Reklamos aprašymas</span>
				</div><!-- .input-label -->
				<div class="input-field">
					<textarea type="text" placeholder="Konkurso aprašymas" [ngClass]="{'input-area-error': description.errors && (description.dirty || description.touched)}" name="description" [(ngModel)]="contest.description" required #description="ngModel"></textarea>
				</div><!-- .input-field -->
				<span *ngIf="description.pristine" class="asterisk">*</span>
			</div><!-- .input-row -->
			<div *ngIf="description.errors && (description.dirty || description.touched)"
				class="input-error-below">
				<div [hidden]="!description.errors.required">
					Įveskite reklamos aprašymą
				</div>
			</div>

			<div class="input-row">
				<div class="input-label">
					<span>Svetainė</span>
				</div><!-- .input-label -->
				<div class="input-field">
					<input type="text" placeholder="Pvz. www.manologo.lt" name="website" [(ngModel)]="contest.website" #website="ngModel" />
				</div><!-- .input-field -->
			</div><!-- .input-row -->

			<hr class="sep" />

			<div class="input-row">
				<div class="input-label">
					<span>Informacija apie organizaciją</span>
				</div><!-- .input-label -->
				<div class="input-field">
					<textarea type="text" placeholder="Organizacijos pavadinimas, veikla" name="organization" [(ngModel)]="contest.organization" #organization="ngModel"></textarea>
				</div><!-- .input-field -->
			</div><!-- .input-row -->

			<div class="textarea-row">
				<div class="input-label textarea-label">
					<span>Papildoma informacija</span>
				</div><!-- .input-label -->
				<div class="input-field">
					<textarea type="text" placeholder="Papildoma informacija" name="extraInfo" [(ngModel)]="contest.extraInfo" #extraInfo="ngModel"></textarea>
				</div><!-- .input-field -->
			</div><!-- .input-row -->

			<div class="input-row">
				<div class="input-label textarea-label">
					<span>Konkurso trukmė (dienomis)</span>
					<small>Mažiausiai 7 dienos</small>
				</div><!-- .input-label -->
				<div class="input-field input-small">
					<input class="input-center" type="number" [ngClass]="{'input-area-error': contestLength.errors && (contestLength.dirty || contestLength.touched)}" placeholder="Pvz. 14" name="contestLength" min="7" max="60" [(ngModel)]="contest.contestLength" required #contestLength="ngModel" />
				</div><!-- .input-field -->
				<span *ngIf="contestLength.pristine" class="asterisk">*</span>
				<div *ngIf="contestLength.errors && (contestLength.dirty || contestLength.touched)"
				class="input-error">
				<div [hidden]="!contestLength.errors.required">
					Įveskite konkurso trukmę
				</div>
				</div>
			</div><!-- .input-row -->

			<div class="textarea-row">
				<div class="input-label textarea-label">
					<span>Konkurso kaina (&euro;)</span>
					<small>Mažiausiai 50 &euro;</small>
				</div><!-- .input-label -->
				<div class="input-field input-small">
					<input class="input-center" type="number" [ngClass]="{'input-area-error': award.errors && (award.dirty || award.touched)}" name="award" [(ngModel)]="contest.award" required min="50" max="1000" #award="ngModel" />
				</div><!-- .input-field --> 
				<span *ngIf="award.pristine" class="asterisk">*</span>
				<div *ngIf="award.errors && (award.dirty || award.touched)"
				class="input-error">
				<div [hidden]="!award.errors.required">
					Įveskite kainą
				</div>
			</div>
			</div><!-- .input-row -->

			<div class="input-row">
				<div class="input-label textarea-label">
					<span>Privatus konkursas?</span>
					<small>+5 &euro; administracijai</small>
				</div><!-- .input-label -->
				<div class="input-field input-small checkbox-input">
					<input type="checkbox" name="isPrivate"  [(ngModel)]="contest.isPrivate">
				</div><!-- .input-field --> 
			</div><!-- .input-row -->

			<hr class="sep" />

      <div class="extra-info">Pagalbinius failus (logotipą, iliustracijas, brėžinius) galėsite įkelti paskelbus konkursą, konkurso puslapyje</div>

      <hr class="sep" />

			<div *ngIf="isClient() && isEmailConfirmed()" class="publish-contest-button">
				<button type="submit" class="submit" [disabled]="!f.valid" value="Paskelbti konkursą">Paskelbti konkursą</button>
			</div>
			<div *ngIf="isClient() && !isEmailConfirmed()">
				<h4>Kad galėtumėt paskelbti konkursą, patvirtinkite savo el. pašto paskyrą profilio nustatymuose</h4>
			</div>
			<div *ngIf="isDesigner()">
				<div class="info-disabled-button">
					<h4>Skelbti konkursą gali tik užsakovai</h4>
				</div>
			</div>
			<div *ngIf="!isDesigner() && !isClient()">
				<div class="info-disabled-button">
					<h4><span class="span-bold">Skelbti konkursą gali tik registruoti užsakovai.</span> <span class="normal-text">Prašome <span class="italic">prisijungti</span> ar <span class="italic">užsiregistruoti</span></span>.</h4>
				</div>
			</div>
		</div><!-- .input-forms -->

		</form>

<simple-notifications [options]="options"></simple-notifications>

<test-loader *ngIf="isLoading"></test-loader>
