<header class="app-header">
		<div class="row">
			<div class="column small-12">
				<div class="app-header-inner">
					<h1 class="site-logo"><a routerLink="/">Dizaino konkursai</a></h1><!-- .app-logo -->
					<nav class="site-navigation">
						<ul>
							<li><a routerLink="/kaip-tai-veikia" routerLinkActive="active">Kaip tai veikia</a></li>
							<li><a routerLink="/konkursai" routerLinkActive="active">Konkursai</a></li>
							<!--<li><a routerLink="/kategorijos" routerLinkActive="active">Kategorijos</a></li>-->
							<li><a routerLink="/dizaineriai" routerLinkActive="active">Dizaineriai</a></li>
							<li><a routerLink="/nugaletoju-galerija" routerLinkActive="active">Nugalėtojų galerija</a></li>
						</ul>
					</nav><!-- .site-navigation -->
                    <nav class="user-controls">
					<user-nav></user-nav>
                    </nav> <!-- .user-navigation -->
				</div><!-- .app-header-inner -->
			</div><!-- .column small-12 -->
		</div><!-- .row -->
</header><!-- .app-header -->
