<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/">Dizaino konkursai</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a routerLink="/paskelbti-konkursa" routerLinkActive="active">Paskelbti konkursą</a></li> <!-- publish a contest -->
            <li><a routerLink="/konkursai" routerLinkActive="active">Konkursai</a></li> <!-- contests -->
            <li><a routerLink="/kategorijos" routerLinkActive="active">Kategorijos</a></li>  <!-- categories -->
            <li><a routerLink="/dizaineriai" routerLinkActive="active">Dizaineriai</a></li> <!-- designers -->            
            <li><a routerLink="/nugaletoju-galerija" routerLinkActive="active">Nugalėtojų galerija</a></li> <!-- winner's gallery. Implemented last or not at all -->            
            <li><a routerLink="/kaip-tai-veikia" routerLinkActive="active">Kaip tai veikia?</a></li>  <!-- How it works -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!isLoggedIn()"><a href="#" (click)="loginModal.open()">Prisijungti</a></li> <!-- login. TODO remove hrefs without affecting UI -->
            <li *ngIf="!isLoggedIn()"><a href="#" (click)="registerModal.open()">Registracija</a></li> <!-- register -->
            <li *ngIf="isLoggedIn()"><a href="#" (click)="logout()">Atsijungti</a></li> <!-- logout -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #loginModal>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="login()" #f> <!--#modalForm="ngForm"> -->
            <modal-header [show-close]="true">
                <h4 class="modal-title text-center">Prisijungimas</h4>
            </modal-header>
            <modal-body>
                <div class="form-group">
                    <label for="firstName">El. Paštas</label>
                    <input type="text" class="form-control" formControlName="email" name="email" id="email" autofocus>
                </div>
                <div class="form-group">
                    <label for="lastName">Slaptažodis</label>
                    <input type="text" class="form-control" formControlName="password" name="password" id="password">
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="loginModal.dismiss()">Atšaukti</button>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="loginModal.close()">Prisijungti</button>
            </modal-footer>
        </form>
</modal>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #registerModal>
        <form [formGroup]="registerForm" novalidate (ngSubmit)="register()" #f> <!--#modalForm="ngForm"> -->
            <modal-header [show-close]="true">
                <h4 class="modal-title text-center">Registracija</h4>
            </modal-header>
            <modal-body>
              <div class="form-group">
                    <label for="firstName">Vardas</label>
                    <input type="text" class="form-control" formControlName="firstName" name="firstName" id="firstName" autofocus>
                </div>
                <div class="form-group">
                    <label for="firstName">Pavardė</label>
                    <input type="text" class="form-control" formControlName="lastName" name="lastName" id="lastName">
                </div>
                <div class="form-group">
                    <label for="firstName">El. Paštas</label>
                    <input type="text" class="form-control" formControlName="email" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="lastName">Slaptažodis</label>
                    <input type="text" class="form-control" formControlName="password" name="password" id="password">
                </div>
                <div class="form-group">
                    <label for="firstName">Dizaineris ar užsakovas?</label>
                    <input type="text" class="form-control" formControlName="userType" name="userType" id="userType">
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="registerModal.dismiss()">Atšaukti</button>
                <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid" (click)="registerModal.close()">Prisijungti</button>
            </modal-footer>
        </form>
</modal>