<header class="app-header">
		<div class="row">
			<div class="column small-12">
				<div class="app-header-inner">
					<h1 class="site-logo">Design contests</h1><!-- .app-logo -->
					<nav class="site-navigation">
						<ul>
							<li><a routerLink="/kaip-tai-veikia" routerLinkActive="active">How it works</a></li>
                            <li><a routerLink="/konkursai" routerLinkActive="active">Contests</a></li>
							<li><a routerLink="/dizaineriai" routerLinkActive="active">Designers</a></li>
							<li><a routerLink="/nugaletoju-galerija" routerLinkActive="active">Winners' gallery</a></li>
						</ul>
					</nav><!-- .site-navigation -->

					<nav class="user-controls">
						<ul>
							<li *ngIf="!isLoggedIn()" (click)="loginModal.open()" class="login"><a href="#">Login</a></li>
							<li *ngIf="!isLoggedIn()" (click)="registerModal.open()" class="register"><a href="#">Register</a></li>
							<li class="user" *ngIf="isLoggedIn()">
								Welcome, username
								<i class="fa fa-caret-down"></i>

								<ul class="dropdown">
									<li class="settings">
										<a routerLink="/profilis" routerLinkActive="active">Profilis<i class="fa fa-cog"></i></a>
									</li>
									<li class="logout">
										<a (click)="logout()" href="#">Sign out <i class="fa fa-sign-out"></i></a>
									</li>
								</ul>
							</li>
						</ul>
					</nav><!-- .user-navigation -->
				</div><!-- .app-header-inner -->
			</div><!-- .column small-12 -->
		</div><!-- .row -->
</header><!-- .app-header -->


<!--
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/">Dizaino konkursai</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a routerLink="/paskelbti-konkursa" routerLinkActive="active">Paskelbti konkursą</a></li> 
            <li><a routerLink="/konkursai" routerLinkActive="active">Konkursai</a></li> 
            <li><a routerLink="/kategorijos" routerLinkActive="active">Kategorijos</a></li>  
            <li><a routerLink="/dizaineriai" routerLinkActive="active">Dizaineriai</a></li>            
            <li><a routerLink="/nugaletoju-galerija" routerLinkActive="active">Nugalėtojų galerija</a></li>
            <li><a routerLink="/kaip-tai-veikia" routerLinkActive="active">Kaip tai veikia?</a></li>  
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!isLoggedIn()"><a href="#" (click)="loginModal.open()">Prisijungti</a></li> 
            <li *ngIf="!isLoggedIn()"><a href="#" (click)="registerModal.open()">Registracija</a></li>
            <li *ngIf="isLoggedIn()"><a href="#" (click)="logout()">Atsijungti</a></li> 
          </ul>
        </div>
      </div>
    </nav>
-->


<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #loginModal>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="login()" #f> 
            <modal-header [show-close]="true">
                <h4 class="modal-title text-center">Prisijungimas</h4>
            </modal-header>
            <modal-body>
                <div class="form-group">
                    <label for="firstName">El. Paštas</label>
                    <input type="text" class="form-control" formControlName="email" name="email" id="email" autofocus>
                </div>
                <div class="form-group">
                    <label for="lastName">Slaptažodis</label>
                    <input type="text" class="form-control" formControlName="password" name="password" id="password">
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="loginModal.dismiss()">Atšaukti</button>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="loginModal.close()">Prisijungti</button>
            </modal-footer>
        </form>
</modal>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #registerModal>
        <form [formGroup]="registerForm" novalidate (ngSubmit)="register()" #f> 
            <modal-header [show-close]="true">
                <h4 class="modal-title text-center">Registracija</h4>
            </modal-header>
            <modal-body>
              <div class="form-group">
                    <label for="firstName">Vardas</label>
                    <input type="text" class="form-control" formControlName="firstName" name="firstName" id="firstName" autofocus>
                </div>
                <div class="form-group">
                    <label for="firstName">Pavardė</label>
                    <input type="text" class="form-control" formControlName="lastName" name="lastName" id="lastName">
                </div>
                <div class="form-group">
                    <label for="firstName">El. Paštas</label>
                    <input type="text" class="form-control" formControlName="email" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="lastName">Slaptažodis</label>
                    <input type="text" class="form-control" formControlName="password" name="password" id="password">
                </div>
                <div class="form-group">
                    <label style="display: block">Dizaineris ar užsakovas?</label>
                    <div *ngFor="let type of userTypes" class="radios">
                    <label>
                    <input type="radio" class="form-control" formControlName="userType" name="userType" id="userType" [value]="type.value">
                    {{ type.display }}
                    </label>
                    </div>
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="registerModal.dismiss()">Atšaukti</button>
                <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid" (click)="registerModal.close()">Registruotis</button>
            </modal-footer>
        </form>
</modal>

