<ul>
    <li *ngIf="!isLoggedIn()" class="login"><a (click)="loginModal.open()">Prisijungti</a></li>
    <li *ngIf="!isLoggedIn()" class="register"><a (click)="registerModal.open()">Registruotis</a></li>
    
    <li class="user" *ngIf="isLoggedIn()">
        Sveiki, {{nickname}}
        <i class="fa fa-caret-down"></i>

        <ul class="dropdown">
            <li class="settings">
                <a routerLink="/profilis" routerLinkActive="active">Profilis<i class="fa fa-user"></i></a>
            </li>
            <li class="settings">
                <a routerLink="/profilis/pastas" routerLinkActive="active">Žinutės<i class="fa fa-envelope"></i></a>
            </li>
            <li class="settings" *ngIf="isClient()">
                <a routerLink="/mano-konkursai" routerLinkActive="active">Mano konkursai<i class="fa fa-bars"></i></a>
            </li>
            <li class="settings" *ngIf="isAdmin()">
                <a routerLink="/admin" routerLinkActive="active">Admin valdymo pultas<i class="fa fa-bars"></i></a>
            </li>
            <li class="logout">
                <a (click)="logout()" href="#">Atsijungti <i class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </li>
</ul>

<modal [animation]="animation" [keyboard]="keyboard" [size]="sm" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" cssClass=".modal-login" #loginModal>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="login(loginF)" #loginF> 
            <modal-header [show-close]="true">
                <h4 class="modal-title text-center">Prisijungimas</h4>
            </modal-header>
            <modal-body>
                <div class="form-group">
                    <label for="nickName">Slapyvardis</label>
                    <input autofocus type="text" class="form-control input-short" formControlName="nickName" name="nickName" id="nickName" autofocus>
                </div>
                <div class="form-group">
                    <label for="lastName">Slaptažodis</label>
                    <input type="password" class="form-control input-short" formControlName="password" name="password" id="password">
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="loginModal.dismiss()">Atšaukti</button>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="loginModal.close()">Prisijungti</button>
            </modal-footer>
        </form>
</modal>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #registerModal>
        <form [formGroup]="registerForm" novalidate (ngSubmit)="register(registerF)" #registerF> 
            <modal-header [show-close]="true">
                <h4 class="modal-title text-center">Registracija</h4>
                <br>
                <h5 class="modal-title text-center red-text">Visi laukai privalomi !</h5>
            </modal-header>
            <modal-body>
              <div class="form-group">
                    <label for="firstName">Vardas</label>
                    <input autofocus type="text" class="form-control input-short" formControlName="firstName" name="firstName" id="firstName" autofocus>
                </div>
                <div class="form-group">
                    <label for="firstName">Pavardė</label>
                    <input type="text" class="form-control input-short" formControlName="lastName" name="lastName" id="lastName">
                </div>
                <div class="form-group">
                    <label for="firstName">El. Paštas</label>
                    <input type="text" class="form-control input-short" formControlName="email" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="firstName">Slapyvardis</label>
                    <input type="text" class="form-control input-short" formControlName="nickName" name="nickName" id="nickName">
                </div>
                <div class="form-group">
                    <label for="lastName">Slaptažodis</label>
                    <input type="password" class="form-control input-short" formControlName="password" name="password" id="password">
                </div>
                <div class="form-group">
                    <label for="lastName">Pakartoti slaptažodį</label>
                    <input type="password" class="form-control input-short" formControlName="repeatPassword" name="repeatPassword" id="repeatPassword">
                </div>
                <div class="form-group">
                    <label style="display: block">Dizaineris ar užsakovas?</label>
                    <div *ngFor="let type of userTypes" class="radios">
                    <label>
                    <input type="radio" class="form-control" formControlName="userType" name="userType" id="userType" [value]="type.value">
                    {{ type.display }}
                    </label>
                    </div>
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="registerModal.dismiss()">Atšaukti</button>
                <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid" (click)="registerModal.close()">Registruotis</button>
            </modal-footer>
        </form>
</modal>

<simple-notifications [options]="options" (onCreate)="created($event)" (onDestroy)="destroyed($event)"></simple-notifications>

<test-loader *ngIf="isLoading"></test-loader>